body {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #302e2b !important;
    color: floralwhite !important;
}

hr {
    height: 0.001em !important;
}

h2 {
    text-align: Left;
}

img.navbarLogo {
    height: 40px;
    padding: 9px 8px 0px 4px;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 12px;
}

.btn {
    color: white;
    background-color: #48427D;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}

    .btn:hover {
        color: white !important;
        background-color: #322d61;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
    }

a.home {
    color: white;
    text-decoration: none;
}

    a.home:hover {
        text-decoration: none;
    }

img.homescreen {
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

img.directionsPhoto {
    height: 36px;
    z-index: -500;
    text-align: right !important;
}

img.locDirectionsPhoto {
    height: 33px !important;
    z-index: -500;
    text-align: right !important;
    padding-bottom: 4px;
}

img.footerPic {
    height: 12px;
    opacity: 0.2;
}

img.messageIcon {
    height: 40px;
    z-index: -500;
    padding: 0 2px;
}

img.footerLogo {
    width: 100%;
    opacity: 0.04;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: -5;
}

img.homeFooterPic {
    max-height: 80%;
    max-width: 25%;
    opacity: 0.04;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: -5;
}

img.locStatusDots {
    height: 28px;
    /*vertical-align: central;*/
}

img.ratingIcon {
    height: 12px;
}

img.barView {
    width: 100%;
    height: 27px;
    vertical-align: central;
    /*padding-top: 4px;*/
    margin-bottom: -13px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

img.editIcon {
    height: 29px;
    vertical-align: top !important;
}

img.editIcon:hover {
    opacity: 0.5;
}

td.locStatusDots {
    text-align: right;
}

/*Home Screen Buttons*/
p.btn.btn-default > a {
    color: #F0EFE4 !important;
}

    p.btn.btn-default > a:hover {
        text-decoration: none;
    }
/*Home Screen Buttons*/

.text-box {
    border-radius: 0px;
}


/*Table formatting*/
th, td {
    border: none !important;
}

th {
    background-color: #222;
    color: #F0EFE4;
    font-family: Arial, sans-serif, 'Arial Narrow';
    font-weight: normal;
    text-transform: none !important;
}

    th.header {
        color: #F0EFE4;
    }

/*ROWS____________________________________________________________________________*/

tr.tableRow:nth-child(odd) {
    background-color: #383832;
    border-bottom: 1px solid #4f4f46;
    border-top: 1px solid #4f4f46;
}

tr.tableRow:nth-child(even) {
    background-color: #33332d;
}

body > div.container.body-content > table > tbody > tr:nth-child(2) > td:nth-child(6) > a:nth-child(4) {
    color: white !important;
}


/*Check Box Formatting*/
input.check-box {
    margin: 4px 0px 0px 17px;
    max-width: 20px;
    max-height: 20px;
    background-color: #FCDB38;
    color: #FCDB38;
}

hr {
    border: 1px solid grey;
}

a {
    color: #b2b9eb;
}

    a:hover {
        text-decoration: none;
        color: #ebeba9 !important;
    }


/*table headers*/
body > div.container.body-content > table > tbody > tr:nth-child(1) > th:nth-child(odd) > a {
    color: floralwhite !important;
}

body > div.container.body-content > table > tbody > tr:nth-child(1) > th:nth-child(even) > a {
    color: floralwhite !important;
}
/*table headers*/


/*NAVBAR FONT***************************/
body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(odd) > a {
    color: lightgray !important;
}

    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(odd) > a:hover {
        color: #ebeba9 !important;
    }

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(even) > a {
    color: lightgray !important;
}

    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(even) > a:hover {
        color: #ebeba9 !important;
    }
/*NAVBAR FONT***************************/



/*login credential and login and logout in header*/

#logoutForm > ul > li:nth-child(1) > a {
    color: lightgray !important;
}

    #logoutForm > ul > li:nth-child(1) > a:hover {
        color: #ebeba9 !important;
    }

#logoutForm > ul > li:nth-child(2) > a {
    color: lightgray !important;
}

    #logoutForm > ul > li:nth-child(2) > a:hover {
        color: #ebeba9 !important;
    }

/*login credential and login and logout in header*/


a.directions {
    background-color: #48427D;
    padding: 8px;
    color: white !important;
}

    a.directions:hover {
        color: #FCDB38 !important;
        text-decoration: none;
    }

/*NAVBAR FONT***************************/

div.enumDropDown {
    color: #cfcfca !important;
}

div.form-group {
    border-radius: 5px !important;
}

table.table {
    border: 1px solid #4f4f46;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

div.searchBar {
    color: #9e9e95 !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

#searchString {
    background-color: #30302b;
    border: 1px solid #4f4f46;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 5px !important;
    margin-left: 0px;
}

    #searchString:hover {
        border: 1px solid black;
    }

input.searchButton {
    color: white !important;
    border: none;
    background-color: #48427D;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-left: 3px;
    border-radius: 0px;
}

    input.searchButton:hover {
        background-color: #322d61;
    }

p.phone {
    font-size: 10px;
    margin-top: 3px;
    color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*INPUT FORMS ---------------- INPUT FORMS*/
.form-control {
    border-radius: 10px !important;
    background-color: #d9d9d7 !important;
    border: 1px solid white !important;
    color: #363630 !important;
    border: none !important;
}

    .form-control:hover {
        background-color: #f0f0e6 !important;
        border: 1px solid #4f4f46;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }

    .form-control:active {
        background-color: #f0f0e6 !important;
        border: 1px solid #4f4f46;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }

.homeButton1 {
    padding: 20px;
}

.homeButton2 {
    padding: 20px;
}

.homeButton {
    margin: 2em 0 0 0;
    background-color: #30302b !important;
    text-align: center !important;
    border: 1px solid #4f4f46;
    font-size: larger;
    display: block;
}

    .homeButton:hover {
        margin: 2em 0 0 0;
        background-color: #3d3d36 !important;
        text-align: center !important;
        border: 1px solid #4f4f46;
        font-size: larger;
    }

.homeButtonDiv {
    text-align: center;
}

.footer {
    font-size: smaller;
    color: #4f4f46;
    position: fixed !important;
    bottom: 0px !important;
    right: 6px !important;
}

p.comment {
    font-size: 13px;
    color: white !important;
    border: 1px solid #75756c;
    border-radius: 10px;
    padding: 8px;
    /*background-color: #d9d9d7;*/
    /*box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;*/
}

table.message {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: transparent;
    border: none !important;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
}

th.messageHeaderTopLeft {
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
}

th.messageHeaderTopRight {
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    text-align: right;
}

td.messageTopLeft {
    border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
}

td.messageTopRight {
    border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
}

td.messageBottomLeft {
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
}

td.messageBottomRight {
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
}

/*Keep This for the header*/
tr.messageHeader {
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.table > tbody + tbody {
    border: none !important;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
}

    .table > tbody + tbody:nth-child(2n+2) {
        color: floralwhite;
        background-color: #40403d;
        border-radius: 10px 10px;
        border: 1px solid #40403d !important;
        -moz-border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px #242422;
        -moz-box-shadow: 0 0 10px #242422;
        -webkit-box-shadow: 0 0 10px #242422;
    }

        .table > tbody + tbody:nth-child(2n+2):hover {
            color: floralwhite;
            /*background-color: #292827;*/
            border-radius: 10px 10px;
            border: 1px solid #6e6e6a !important;
            -moz-border-radius: 0 0 10px 10px;
            box-shadow: 0 0 10px #3d3c3b;
            -moz-box-shadow: 0 0 10px #3d3c3b;
            -webkit-box-shadow: 0 0 10px #3d3c3b;
        }

/*.table > tbody + tbody:nth-child(4n+4) {
        color: floralwhite;
        background-color: red;
        border-radius: 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }*/

td.messageLeftLocationCoop {
    border-radius: 10px 0 0 10px;
}

td.messageRightLocationCoop {
    border-radius: 0 10px 10px 0;
}

img.vertBottom {
    text-align: center !important;
    vertical-align: bottom !important;
    align-content: baseline !important;
}

tr.spacer {
    background-color: transparent !important;
}

td.spacer {
    background-color: transparent !important;
}

div.messageLabel {
    color: #e36466;
    font-size: 11px;
}

.alignRight {
    text-align: right;
}

label {
    color: #e36466;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.phoneDirectory {
    font-weight: 100;
}

.employeeContactType {
}

.cooperatorContactType {
    color: #e36466;
}

div.homeButtons {
    text-align: center !important;
    position: fixed !important;
    right: -1px !important;
    left: 27% !important;
    top: 6% !important;
}

button.homeButton {
    font-weight: 100;
    letter-spacing: 0 !important;
    box-shadow: 0 0 10px #242020;
    -moz-box-shadow: 0 0 10px #242020;
    -webkit-box-shadow: 0 0 10px #242020;
    font-family: Arial, Verdana, 'Lucida Bright' !important;
    font-weight: 100 !important;
}

button.newButton {
    color: #e36466 !important;
}

button.homeButton {
    text-align: center !important;
    position: center !important;
    width: 100% !important;
    padding: 18px !important;
    border-radius: 10px 0 0 10px !important;
    margin: 2em 0;
}

.navText {
    font-size: 16px !important;
    font-weight: 100 !important;
}

.directionsButton {
    margin: 4px 0 16px 0;
}

div.toggleButton {
    margin: -39px 0 20px 0;
    text-align: right;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 18px;
    color: white;
    background-color: #48427D;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
}

    .custom-file-upload:hover {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin-top: 18px;
        color: white !important;
        background-color: #322d61;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
    }

.createDocButton {
    padding: 7px 28px 6px 28px;
    margin: 3px 0px 0px -0.46em;
}

input.openDocButton {
    color: white !important;
    border: none;
    background-color: #48427D;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-left: 3px;
    border-radius: 0px;
}

    input.openDocButton:hover {
        background-color: #322d61;
    }

td.openDocButton {
    padding-top: 11px !important;
}

.smallerFont {
    font-family:'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

td.tdDates {
    padding-left: 20px;
}

* {
    border-radius: 0px 0px 0px 0px !important;
}