body {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #302e2b !important;
    color: floralwhite !important;
}


hr {
    border: none !important;
    height: 1px !important;
    background-color: #242222 !important;
}

h2 {
    text-align: Left;
}

img.navbarLogo {
    height: 40px;
    padding: 9px 8px 0px 4px;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 12px;
}

.btn {
    color: white;
    background-color: #6085f4;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}

    .btn:hover {
        color: white !important;
        background-color: #322d61;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
    }

a.home {
    color: white;
    text-decoration: none;
}

    a.home:hover {
        text-decoration: none;
    }

img.homescreen {
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

img.directionsPhoto {
    height: 36px;
    z-index: -500;
    text-align: right !important;
}

img.locDirectionsPhoto {
    height: 33px !important;
    z-index: -500;
    text-align: right !important;
    padding-bottom: 4px;
}

img.footerPic {
    height: 12px;
    opacity: 0.2;
}

img.messageIcon {
    height: 44px;
    z-index: -500;
    padding: 0 2px;
    padding-bottom: -20em !important;
}

img.footerLogo {
    width: 100%;
    opacity: 0.04;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: -5;
}

img.homeFooterPic {
    max-height: 80%;
    max-width: 25%;
    opacity: 0.04;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: -5;
}

img.locStatusDots {
    height: 28px;
    /*vertical-align: central;*/
}

img.ratingIcon {
    height: 12px;
    margin-top: -4px;
}

img.barView {
    width: 100%;
    height: 10px;
    vertical-align: central;
    /*padding-top: 4px;*/
    margin-bottom: -13px;
    border-radius: 8px;
    opacity: 0.7;
}

img.imgGrey {
    height: 40px;
    z-index: -500;
    padding: 0 2px;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.contactIcon {
    height: 32px;
    z-index: -500;
    padding: 1px 2px 0 1px;
    vertical-align: middle;
}

img.imgGrey:hover {
}

img.contactIcon:hover {
    opacity: 0.7;
}

img.editIcon {
    height: 20px;
    padding-left: 8px;
    vertical-align: top !important;
    opacity: 0.9;
}

    img.editIcon:hover {
        opacity: 0.6;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }

img.jobCheckPicIcon {
    height: 44px;
    margin-top: 1px;
}

    img.jobCheckPicIcon:hover {
        opacity: 0.7;
    }

img.jobCheckPicIconGrey {
    height: 44px;
    margin-top: 1px;
    opacity: 0.2;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

    img.jobCheckPicIconGrey:hover {

    }

img.titlePic {
    max-height: 38px;
    margin-top: 10px;
    opacity: 0.4;
    margin-bottom: 16px;
    max-width: 60%;
}

img.titleAction {
    max-height: 36px;
    margin-bottom: 7px;
    opacity: 0.9;
    max-width: 60%;
    padding: 10px;
    background-color: #40403d;
    -moz-border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px #242422;
    -moz-box-shadow: 0 0 10px #242422;
    -webkit-box-shadow: 0 0 10px #242422;
}

    img.titleAction:hover {
        opacity: 0.5;
    }

img.titleJob {
    max-width: 33.5%;
}

img.titleRequest {
    max-width: 66.5%;
}

img.titleActionJob {
    max-width: 38%;
}

img.titleActionRequest {
    max-width: 58%;
}

div.titleJobPic {
    max-width: 60%;
}

div.titleJobAction {
    max-width: 60%;
}

img.titleActionDocument {
    margin-bottom: 17px;
}

img.off {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
}

    img.off:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.2;
    }

img.alignRight {
    text-align: right !important;
}

img.homePic {
    height: 18px;
    opacity: 0.6;
}

td.locStatusDots {
    text-align: right;
}

/*Home Screen Buttons*/
p.btn.btn-default > a {
    color: #F0EFE4 !important;
}

    p.btn.btn-default > a:hover {
        text-decoration: none;
    }
/*Home Screen Buttons*/

.text-box {
    border-radius: 0px;
}


/*Table formatting*/
th, td {
    border: none !important;
    padding: 6px !important;
}

th {
    background-color: #222;
    color: #F0EFE4;
    font-family: Arial, sans-serif, 'Arial Narrow';
    font-weight: normal;
    text-transform: none !important;
}

    th.header {
        color: #F0EFE4;
    }

/*ROWS____________________________________________________________________________*/

tr.tableRow:nth-child(odd) {
    background-color: #383832;
    border-bottom: 1px solid #4f4f46;
    border-top: 1px solid #4f4f46;
}

tr.tableRow:nth-child(even) {
    background-color: #33332d;
}

div.phoneBoxCapsule {
    width: 100%;
}

div.phoneBox {
    padding: 0 !important;
    display: inline-flex;
    max-width: 20em;
    margin: 0 !important;
}

div.smallPhone {
    width: 28%;
    margin-right: 3%;
    text-align: right;
}

div.bigPhone {
    width: 38%;
    text-align: right;
}

body > div.container.body-content > table > tbody > tr:nth-child(2) > td:nth-child(6) > a:nth-child(4) {
    color: white !important;
}

/*Check Box Formatting*/
input.check-box {
    margin: 4px 0px 0px 17px;
    max-width: 20px;
    max-height: 20px;
    background-color: #fae161;
    color: #fae161;
}

hr {
    border: 1px solid grey;
}

a {
    color: #93a7e6;
}

    a:hover {
        text-decoration: none;
        /*color: #fae161 !important;*/
    }


/*table headers*/
body > div.container.body-content > table > tbody > tr:nth-child(1) > th:nth-child(odd) > a {
    color: floralwhite;
}

body > div.container.body-content > table > tbody > tr:nth-child(1) > th:nth-child(even) > a {
    color: floralwhite;
}
/*table headers*/


/*NAVBAR FONT***************************/
body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(odd) > a {
    color: lightgray !important;
}

    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(odd) > a:hover {
        color: #fae161 !important;
    }

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(even) > a {
    color: lightgray !important;
}

    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(even) > a:hover {
        color: #fae161 !important;
    }
/*NAVBAR FONT***************************/



/*login credential and login and logout in header*/

#logoutForm > ul > li:nth-child(1) > a {
    color: lightgray !important;
}

    #logoutForm > ul > li:nth-child(1) > a:hover {
        color: #fae161 !important;
    }

#logoutForm > ul > li:nth-child(2) > a {
    color: lightgray !important;
}

    #logoutForm > ul > li:nth-child(2) > a:hover {
        color: #fae161 !important;
    }

/*login credential and login and logout in header*/


a.directions {
    background-color: #6085f4;
    padding: 8px;
    color: white !important;
}

    a.directions:hover {
        color: #fae161 !important;
        text-decoration: none;
    }

/*NAVBAR FONT***************************/

div.enumDropDown {
    color: #cfcfca !important;
}

div.form-group {
    border-radius: 5px !important;
}

div.col-md-6{
    width:50.5%;
}
@media(max-width:992px){
    .col-md-6{
        width:90.3%;
    }
    }

table.table {
    border: 1px solid #4f4f46;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

img.clearX {
    height: 26px;
    padding-bottom: 3px;
    opacity: 0.5;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

    img.clearX:hover {
        opacity: 0.9;
    }

a.clearX {
    margin: 0 !important;
    padding: 0 !important;
}

div.searchBar {
    color: #9e9e95 !important;
    padding-left: 0 !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    margin: 0;
    width: 100% !important;
}

#searchString {
    background-color: transparent;
    border: 1px solid #4f4f46;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 49% !important;
    max-width: 49%;
}

    #searchString:hover {
        border: 1px solid #91918c;
    }

input.searchButton {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    /*color: #302e2b !important;*/
    color: white !important;
    border: none;
    background-color: #3b60ce;
    padding: 5px 10px 4px 9px;
    margin-left: 1%;
    margin-right: 0 !important;
    border-radius: 0px;
    opacity: 0.9;
    width: 30% !important;
    max-width: 30%;
    float: right;
}

    input.searchButton:hover {
        opacity: 0.7;
    }

div.docSearchBar {
    margin-top: -10px;
}

input.basicButton {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    /*color: #302e2b !important;*/
    color: white !important;
    border: none;
    background-color: #3b60ce;
    padding: 5px 10px 4px 9px;
    margin-right: 0 !important;
    border-radius: 0px;
    opacity: 0.9;
    vertical-align: middle !important;
}

    input.basicButton:hover {
        opacity: 0.7;
    }

p.phone {
    font-size: 10px;
    margin-top: 3px;
    color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*INPUT FORMS ---------------- INPUT FORMS*/
.form-control {
    border-radius: 0px !important;
    background-color: transparent !important;
    background: transparent !important;
    border: 1px solid #a9a9a9 !important;
    border-radius: 0px !important;
    color: floralwhite !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}

    .form-control:hover {
        background-color: transparent !important;
        border: 1px solid #4f4f46;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }

    .form-control:active {
        background-color: #f0f0e6 !important;
        border: 1px solid #4f4f46;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }

    .form-control::after {
        background-color: #f0f0e6 !important;
        border: 1px solid #4f4f46;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }

option {
    background-color: #302e2b !important;
    color: floralwhite !important;
    border: none !important;
}

.homeButton1 {
    padding: 20px;
}

.homeButton2 {
    padding: 20px;
}

.homeButton {
    margin: 2em 0 0 0;
    background-color: #40403d !important;
    text-align: left !important;
    border: 1px solid #40403d;
    font-size: larger;
    display: block;
}

    .homeButton:hover {
        background-color: #40403d !important;
        text-align: center !important;
        border: 1px solid #6e6e6a;
        font-size: larger;
        /*opacity: 0.8;*/
    }

.homeButtonDiv {
    text-align: left;
}

.footer {
    font-size: smaller;
    color: #4f4f46;
    position: fixed !important;
    bottom: 0px !important;
    right: 6px !important;
}

p.comment {
    font-size: 14px;
    font-family: Calibri, AArial, 'Arial Narrow', 'Trebuchet MS', sans-serif;
    color: floralwhite !important;
    border: 1px solid #75756c;
    border-radius: 10px;
    padding: 8px;
    /*background-color: #d9d9d7;*/
    /*box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;*/
}

table.message {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: transparent;
    border: none !important;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
}

th.messageHeaderTopLeft {
}

th.messageHeaderTopRight {
    text-align: right;
}

th {
    background-color: transparent !important;
}

td.messageTopLeft {
    border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
}

td.messageTopRight {
    border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
}

td.messageBottomLeft {
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
}

td.messageBottomRight {
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
}

/*Keep This for the header*/
tr.messageHeader {
    border: none !important;
    background-color: #383834;
    opacity: 0.8;
}

.table > tbody + tbody {
    border: none !important;
}

    .table > tbody + tbody:nth-child(2n+2) {
        color: floralwhite;
        background-color: #40403d;
        border-radius: 10px 10px;
        border: 0px solid transparent !important;
        -moz-border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px #242422;
        -moz-box-shadow: 0 0 10px #242422;
        -webkit-box-shadow: 0 0 10px #242422;
    }

        .table > tbody + tbody:nth-child(2n+2):hover {
            color: floralwhite;
            margin: -2px;
            border-radius: 10px 10px;
            -moz-border-radius: 0 0 10px 10px;
            box-shadow: 0 30px #242422;
            -moz-box-shadow: 0 0 30px #242422;
            -webkit-box-shadow: 0 0 10px #242422;
        }

/*.table > tbody + tbody:nth-child(4n+4) {
        color: floralwhite;
        background-color: red;
        border-radius: 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }*/

td.messageLeftLocationCoop {
    border-radius: 10px 0 0 10px;
}

td.messageRightLocationCoop {
    border-radius: 0 10px 10px 0;
}

img.vertBottom {
    text-align: center !important;
    vertical-align: bottom !important;
    align-content: baseline !important;
}

tr.spacer {
    background-color: transparent !important;
}

td.spacer {
    background-color: transparent !important;
}

div.messageLabel {
    color: #e36466;
    font-size: 11px;
}

.redLabel {
    color: #e36466;
}

.alignRight {
    text-align: right;
}

label {
    color: #e36466;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

dt.deleteLabel {
    color: #e36466;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

div.deleteButtons {
    text-align: right;
    padding-bottom: 18px;
    margin-top: -42px;
}

img.smallDeleteIcon {
    padding-top: 3px;
}

input.deleteButton {
    background-color: #e36466 !important;
    color: black;
}

    input.deleteButton:hover {
        background-color: #c23e40 !important;
    }

input.completeButton {
    background-color: #3db03c !important;
    color: black;
}

    input.completeButton:hover {
        background-color: #148d13 !important;
    }

dd {
    padding: 0 0 10px 0;
}

dl {
    color: floralwhite;
    background-color: #40403d;
    border-radius: 10px 10px;
    border: 1px solid #40403d !important;
    margin: 20px;
    padding: 20px;
    -moz-border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px #242422;
    -moz-box-shadow: 0 0 10px #242422;
    -webkit-box-shadow: 0 0 10px #242422;
}

.lightFont {
    font-weight: 100;
    font-size: 12px;
}

.employeeContactType {
}

.cooperatorContactType {
    color: #e36466;
}

div.homeButtons {
    margin-top: 1em;
    text-align: left !important;
    position: fixed !important;
    right: -1px !important;
    left: 27% !important;
    top: 6% !important;
}

button.homeButton {
    font-weight: 100;
    letter-spacing: 0 !important;
    box-shadow: 0 0 10px #242020;
    -moz-box-shadow: 0 0 10px #242020;
    -webkit-box-shadow: 0 0 10px #242020;
    font-family: Arial, Verdana, 'Lucida Bright' !important;
    font-weight: 100 !important;
}

button.newButton {
    color: #e36466 !important;
}

button.homeButton {
    text-align: center !important;
    position: center !important;
    width: 100% !important;
    padding: 15px !important;
    border-radius: 0 !important;
    margin: 1em 0;
}

.navText {
    font-size: 16px !important;
    font-weight: 100 !important;
}

.directionsButton {
    margin: 4px 0 16px 0;
}

div.toggleButton {
    margin: -49px 0 20px 0;
    text-align: right;
}

div.toggleButtonDirectory {
    margin: -119px 0 20px 0;
    padding-bottom: 63px;
    text-align: right;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: white !important;
    border: none;
    background-color: #3b60ce;
    margin-top: 18px;
    margin-bottom: 16px;
    padding: 5px 8px;
    padding-bottom: 4px;
    border-radius: 0px;
    opacity: 0.9;
}

    .custom-file-upload:hover {
        opacity: 0.7;
    }

.camera-file-upload {
    color: white !important;
    border: none;
    background-color: transparent;
    margin-top: 0;
    margin-bottom: -2px;
    padding: 0px 20px 5px 0;
    border-radius: 0px;
}

    .camera-file-upload:hover {
        opacity: 0.7;
    }

img.cameraPic {
    height: 30px;
    padding-left:0;
    padding-top: 1px;
}

.createDocButton {
    padding: 6px 27px 5px 28px;
    margin: 3px 0px 0px -0.46em;
}

.smallerFont {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

td.tdDates {
    padding-left: 20px;
}

td.phoneDirectory {
    font-weight: 100 !important;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

textarea {
    /*width: 100% !important;*/
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background: transparent !important;
    width: 100% !important;
    height: 100px !important;
    margin-bottom: -5px !important;
    padding: 6px;
}

* {
    border-radius: 0px 0px 0px 0px !important;
}

td.messageBottomRight.alignRight.vertBottom.noBottom {
    padding: 16px 8px 0 8px !important
}

td.tdVertCenter {
    vertical-align: middle !important;
}

a.sortFont {
    color: #e36466 !important;
    z-index: -500 !important;
}