body {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #30302b !important;
    color: floralwhite !important;
}

hr {
    height: 0.001em !important;
}

img.navbarLogo {
    height: 40px;
    padding: 6px 8px 0px 4px;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 12px;
}

.btn {
    color: white;
    background-color: #48427D;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}

    .btn:hover {
        color: white;
        background-color: #322d61;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
    }

a.home {
    color: white;
    text-decoration: none;
}

    a.home:hover {
        text-decoration: none;
    }

img.homescreen {
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}


img.stakePhoto {
    width: 15px;
}

/*Home Screen Buttons*/
p.btn.btn-default > a {
    color: #F0EFE4 !important;
}

    p.btn.btn-default > a:hover {
        text-decoration: none;
    }
/*Home Screen Buttons*/

.text-box {
    border-radius: 0px;
}


/*Table formatting*/
th, td {
    border: none !important;
}

th {
    background-color: #212116;
    color: #F0EFE4;
    font-family: Arial, sans-serif, 'Arial Narrow';
    font-weight: normal;
    text-transform: none !important;
}

    th.header {
        color: #F0EFE4;
    }

tr:nth-child(odd) {
    background-color: #383832;
    border-bottom: 1px solid #4f4f46;
    border-top: 1px solid #4f4f46;
}

tr:nth-child(even) {
    background-color: #33332d;
}

body > div.container.body-content > table > tbody > tr:nth-child(2) > td:nth-child(6) > a:nth-child(4) {
    color: white !important;
}


/*Check Box Formatting*/
input.check-box {
    margin: 4px 0px 0px 17px;
    max-width: 20px;
    max-height: 20px;
    background-color: #FCDB38;
    color: #FCDB38;
}

hr {
    border: 1px solid grey;
}

a {
    color: #b2b9eb;
}

    a:hover {
        text-decoration: none;
        color: #ebeba9 !important;
    }


/*table headers*/
body > div.container.body-content > table > tbody > tr:nth-child(1) > th:nth-child(odd) > a {
    color: floralwhite !important;
}

body > div.container.body-content > table > tbody > tr:nth-child(1) > th:nth-child(even) > a {
    color: floralwhite !important;
}
/*table headers*/


/*NAVBAR FONT***************************/
body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(odd) > a {
    color: lightgray !important;
}

    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(odd) > a:hover {
        color: #ebeba9 !important;
    }

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(even) > a {
    color: lightgray !important;
}

    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li:nth-child(even) > a:hover {
        color: #ebeba9 !important;
    }
/*NAVBAR FONT***************************/



/*login credential and login and logout in header*/

#logoutForm > ul > li:nth-child(1) > a {
    color: lightgray !important;
}

    #logoutForm > ul > li:nth-child(1) > a:hover {
        color: #ebeba9 !important;
    }

#logoutForm > ul > li:nth-child(2) > a {
    color: lightgray !important;
}

    #logoutForm > ul > li:nth-child(2) > a:hover {
        color: #ebeba9 !important;
    }

/*login credential and login and logout in header*/


a.directions {
    background-color: #48427D;
    padding: 8px;
    color: white !important;
}

    a.directions:hover {
        color: #FCDB38 !important;
        text-decoration: none;
    }

/*NAVBAR FONT***************************/

div.enumDropDown {
    color: #cfcfca !important;
}

div.form-group {
    border-radius: 5px !important;
}

table.table {
    border: 1px solid #4f4f46;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

img.footerLogo {
    width: 100%;
    opacity: 0.04;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: -5;
}

div.searchBar {
    color: #4f4f46 !important;
}

#searchString {
    background-color: #30302b;
    border: 1px solid #4f4f46;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-left: 3px;
}

    #searchString:hover {
        border: 1px solid black;
    }

input.searchButton {
    color: white !important;
    border: none;
    background-color: #48427D;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-left: 3px;
    border-radius: 0px;
}

    input.searchButton:hover {
        background-color: #322d61;
    }

p.phone {
    font-size: 10px;
    margin-top: 3px;
    color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control {
    border-radius: 0 !important;
    background-color: #d9d9d7 !important;
    color: #363630 !important;
    border: none !important;
}

    .form-control:hover {
        background-color: #f0f0e6 !important;
        border: 1px solid #4f4f46;
        box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
    }

/*:active {
    box-shadow: none !important;
    border: none !important;
}*/

.homeButton1 {
    padding: 20px;
}

.homeButton2 {
    padding: 20px;
}

.homeButton {
    margin: 2em 0 0 0;
    background-color: #30302b !important;
    text-align: center !important;
    border: 1px solid #4f4f46;
    font-size: larger;
    display: block;
}

    .homeButton:hover {
        margin: 2em 0 0 0;
        background-color: #3d3d36 !important;
        text-align: center !important;
        border: 1px solid #4f4f46;
        font-size: larger;
    }

.homeButtonDiv {
    text-align: center;
}

.footer {
    font-size: smaller;
    color: #4f4f46;
    position: fixed !important;
    bottom: 0px !important;
    right: 6px !important;
}
