@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <p>
        <div class="searchBar">
            @Html.TextBox("searchString")
            <input type="submit" value=" Search " class="searchButton" />
        </div>
    </p>
}



